*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.sec1{
    background-color: rgb(240, 227, 209);
    height: 100%;
    width: 100%;
    text-align: center;
}

.container{
    border: 20px solid rgba(165, 42, 42, 0.822);
    background-color: burlywood;
    height: 500px;
    width: 40%;
    margin: 8% auto;

}

.head1{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(24, 24, 24);
    cursor: pointer;
    text-decoration: underline;
}

#date:hover{
    text-decoration: underline;
}

#date{
    color: black;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 15%;
    font-weight: 600;
    cursor: pointer;
}

span{
    font-size: 80px;
    font-weight: 600;
}

#time{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.hour1{
    display: grid;
    cursor: pointer;
}

.min1{
    display: grid;
    cursor: pointer;
}

.secon1{
    display: grid;
    cursor: pointer;
}